<nav class="row align-items-center gap-4">
  <a routerLink="/" class="col-auto flex align-items-center">
    <img class="brand" src="assets/logo-santander.svg" alt="" />
  </a>
  <div class="col-auto links">
    <a href="#">Para você</a>
  </div>
  <div class="col-auto links">
    <a href="#">Para sua empresa</a>
  </div>
  <div class="col-3 nav-search">
    <input type="text" placeholder="O que você procura?" [(ngModel)]="search" />
    <span>
      <i
        *ngIf="!search"
        class="icons icon-search cursor-pointer"
        (click)="handleSearch()"
      ></i>
    </span>
    <button *ngIf="search" class="btn btn-go-search">
      <i class="icons icon-right cursor-pointer" (click)="handleSearch()"></i>
    </button>
  </div>
  <div class="col-auto">
    <div class="d-flex gap-3">
      <span>Acessar</span>
      <a href="#">Pessoa física</a>
      <a href="#">Pessoa jurídica</a>
    </div>
    <div class="nav-input-cpf">
      <input
        type="text"
        class="form-control"
        mask="000.000.000-00"
        [(ngModel)]="cpf"
        (keyup.enter)="verifyUserCredentials()"
      />
      <i
        *ngIf="cpf?.length === 11 && !isLoading"
        class="position-absolute icons icon-right cursor-pointer"
        (click)="verifyUserCredentials()"
      ></i>
      <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"></div>
    </div>
  </div>
</nav>
