<section class="container p-4">
  <h1 class="text-dark">Financiamento veicular</h1>
  <div class="row">
    <div class="col mt-4">
      <ul class="text-darkest" *ngIf="stepOneData">
        <span class="fw-semibold text-dark h5">Dados do veículo</span>
        <li>Ano do veículo: {{ stepOneData.vehicleYear }}</li>
        <li>Ano do modelo: {{ stepOneData.vehicleModelYear }}</li>
        <li>O veículo é zero Km?: {{ stepOneData.isZeroKm }}</li>
        <li *ngIf="stepOneData?.vehicleCategory">
          Categoria de veículo:
          {{ getVehicleCategory(stepOneData.vehicleCategory) }}
        </li>
        <li>
          Valor do veículo: {{ stepOneData.vehicleValue | currency : "BRL" }}
        </li>
        <li>
          Ano do financiamento:
          {{ stepOneData.financingValue | currency : "BRL" }}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <span class="fw-semibold text-dark text-lg">Dados do veículo</span>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <label for="vehicle-year" class="form-label">Ano do veículo</label>
        <input
          type="text"
          class="form-control"
          [bsValue]="currentDate"
          (bsValueChange)="onDateChange($event)"
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', adaptivePosition: true, containerClass: 'theme-red' }"
          bsDatepicker
        />
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Continuar</button>
    </div>
  </div>
</section>
