@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './styles/colors.scss';


@import './styles/overrides/fonts';
@import './styles/overrides/buttons';

@font-face {
  font-family: Santander;
  src: url(./styles/font/santander.ttf) format("opentype");
}

* {
  font-family: Santander, Arial, Helvetica, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.text-white {
  color: $white;
}

.btn-primary {
  color: $white !important;
}



@import '~bootstrap';