@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './styles/colors.scss';


@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss';

@import './styles/overrides/fonts';
@import './styles/overrides/buttons';
@import './styles//overrides/toastr';
@import './styles//overrides/datepicker';

@font-face {
  font-family: Santander;
  src: url(./styles/font/santander.ttf) format("opentype");
}

* {
  font-family: Santander, Arial, Helvetica, sans-serif;
}

.heading, .form-label {
  color: $dark;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-white {
  color: $white;
}

.btn-primary {
  color: $white !important;
}

.bs-datepicker-head {
  background-color: red
}


@import '~bootstrap';